<div li-block="Accordion Item" role="listitem" data-state="" class="accordion_item" {{ block.shopify_attributes }}>
                    
                              
                    <div class="accordion_component">
                                <h3 class="accordion_toggle_heading"><button aria-expanded="false" class="accordion_toggle_button"><span class="accordion_toggle_text u-text-style-h5">This is some text inside of a div block.</span><span class="accordion_toggle_icon"><svg data-wf--icon-arrow--direction="bottom" viewbox="0 0 66 70" fill="none" width="100%" height="100%" aria-hidden="true" class="u-svg w-variant-caa8b8e9-e8ec-6eb3-4526-30f19f7326f5">
                                        <path d="M17 2L50 34.9999L17 68" class="u-path"></path>
                                      </svg></span></button></h3>
                                <div class="accordion_content_wrap">
                                  <div class="accordion_content_padding">
                                    <div class="accordion_content_text u-rich-text w-richtext">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                    
                            
                </div> {% schema %} {
    "name": "Accordion Item",
    "settings": [],
    "presets": [
        {
            "name": "Accordion Item",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}