<div li-static-block="Background" class="u-display-contents"></div> {% schema %} {
    "name": "Background",
    "settings": [],
    "presets": [
        {
            "name": "Background",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}