<div li-static-block="Background" class="u-display-contents">
            <div li-cf-theme-blocks="" class="u-background-slot">
{% content_for 'blocks' %}
</div>
          </div> {% schema %} {
    "name": "Background",
    "blocks": [
        {
            "type": "@app"
        }
    ],
    "settings": [],
    "presets": [
        {
            "name": "Background",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}