<div data-wf--button-arrow--variant="secondary-medium" data-slider="next" class="button_arrow_wrap" data-button=" " data-trigger="hover focus" li-block="Button Arrow" {{ block.shopify_attributes }}>
                    
                          
                    <div class="button_arrow_element w-variant-bb0688d1-65b6-14b6-81e5-21e2cd39bbda">
                            <div aria-hidden="true" class="button_arrow_icon"><svg data-wf--icon-arrow-full--variant="right" xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 33 26" fill="none" aria-hidden="true" class="u-svg">
                                <path d="M18 24.8437L31 12.8438L18 0.843749" class="u-path"></path>
                                <path d="M30.5 13L0 13" class="u-path"></path>
                              </svg></div>
                          </div>
                    
                          
                    <div class="clickable_wrap u-cover-absolute">
                            <a li-settings-a:target="" href="{{ block.settings.url_link }}" class="clickable_link w-inline-block"> <span class="clickable_text u-sr-only">{{ block.settings.text_screen_reader }}</span> </a><button li-settings-a:type="button" class="clickable_btn"><span class="clickable_text u-sr-only">
{{ block.settings.text_screen_reader }}
</span></button>
                          </div>
                    
                        
                </div> {% schema %} {
    "name": "Button Arrow",
    "settings": [
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        },
        {
            "id": "text_screen_reader",
            "type": "text",
            "label": "Screen Reader",
            "default": "Next"
        }
    ],
    "presets": [
        {
            "name": "Button Arrow",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}