<div data-wf--button-main--variant="primary" data-modal-trigger="modal-1" class="button_main_wrap" data-button=" " data-trigger="hover focus" li-block="Button" {{ block.shopify_attributes }}>
                    
                        
                    <div class="clickable_wrap u-cover-absolute">
                          <a target="" href="#" class="clickable_link w-inline-block"><span class="clickable_text u-sr-only">Open Modal</span></a><button type="button" class="clickable_btn"><span class="clickable_text u-sr-only">Open Modal</span></button>
                        </div>
                    
                        
                    <div class="button_main_element">
                          <div aria-hidden="true" class="button_main_text u-text-style-main">Open Modal</div>
                          <div class="button_main_icon u-hide-if-empty"><svg data-wf--icon-arrow--direction="right" viewbox="0 0 66 70" fill="none" width="100%" height="100%" aria-hidden="true" class="u-svg">
                              <path d="M17 2L50 34.9999L17 68" class="u-path"></path>
                            </svg></div>
                          <div class="button_main_line"></div>
                        </div>
                    
                      
                </div> {% schema %} {
    "name": "Button",
    "settings": [],
    "presets": [
        {
            "name": "Button",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}