<div li-static-block:attributes="class_name: section.settings.layout" li-static-block="Column 2" class="u-display-contents">
                  <div li-cf-theme-blocks="" class="u-layout-column-2  ">
{% content_for 'blocks' %}
</div>
                </div> {% schema %} {
    "name": "Column 2",
    "blocks": [
        {
            "type": "image"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [],
    "presets": [
        {
            "name": "Column 2",
            "blocks": [
                {
                    "type": "image"
                }
            ]
        }
    ],
    "tag": null
} {% endschema %}