<div li-static-block="Content 2">
                  <div li-cf-theme-blocks="" class="u-layout-column-2 w-variant-1261a7e4-2c05-3b0b-2126-d399890906b8  ">
{% content_for 'blocks' %}
</div>
                </div> {% schema %} {
    "name": "Content 2",
    "blocks": [
        {
            "type": "image"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [],
    "presets": [
        {
            "name": "Content 2",
            "blocks": [
                {
                    "type": "image"
                }
            ]
        }
    ],
    "tag": null
} {% endschema %}