<div li-static-block:attributes="color: '#111'" li-static-block="Content 1" class="u-display-contents">
                  <div li-cf-theme-blocks="" class="u-layout-column-1  ">
{% content_for 'blocks' %}
</div>
                </div> {% schema %} {
    "name": "Content 1",
    "blocks": [
        {
            "type": "heading"
        },
        {
            "type": "_paragraph"
        },
        {
            "type": "button-wrapper"
        },
        {
            "type": "button"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [],
    "presets": [
        {
            "name": "Content 1",
            "blocks": [
                {
                    "type": "heading"
                },
                {
                    "type": "_paragraph"
                },
                {
                    "type": "button-wrapper"
                },
                {
                    "type": "button"
                }
            ]
        }
    ],
    "tag": null
} {% endschema %}