<div class="u-eyebrow-wrapper" li-block="Eyebrow" {{ block.shopify_attributes }}>
                    
                      
                    <div class="u-eyebrow-layout">
                        <div class="u-eyebrow-marker"></div>
                        <div class="u-eyebrow-text u-text-style-main w-richtext">
                          <p>Eyebrow Text Here</p>
                        </div>
                      </div>
                    
                    
                </div> {% schema %} {
    "name": "Eyebrow",
    "settings": [],
    "presets": [
        {
            "name": "Eyebrow",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}