<div li-block="Heading" li-block:category="Content" li-block:tag="" class="u-display-contents" style="">
                    
                      
                    <div class="u-display-contents">
                        <div data-tesrt="2" data-number="20" data-wf--typography-heading--variant="h2" class="u-text w-variant-433d40c6-c261-f13f-c899-61d2cadf150f w-richtext  ">
                          <h2>Lorem ipsum dolor sit amet elit</h2>
                        </div>
                        
                      </div>
                    
                    
                </div> {% schema %} {
    "name": "Heading",
    "settings": [
        {
            "type": "select",
            "id": "text_style",
            "label": "Text Style",
            "default": "MISSING",
            "options": [
                {
                    "label": "H2",
                    "value": "h2"
                },
                {
                    "label": "H3",
                    "value": "h3"
                },
                {
                    "label": "H4",
                    "value": "h4"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Heading",
            "category": "Content",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}
