<div li-static-block="Tab Content Wrapper" class="tab_content_wrap">
                  <div li-cf-theme-blocks="" data-preview="true" data-slot="" class="tab_content_list">
{% content_for 'blocks' %}
</div>
                </div> {% schema %} {
    "name": "Tab Content Wrapper",
    "blocks": {
        "0": {
            "type": "tab-content"
        },
        "1": {
            "type": "eyebrow"
        },
        "2": {
            "type": "heading"
        },
        "3": {
            "type": "paragraph"
        },
        "4": {
            "type": "button-wrapper"
        },
        "5": {
            "type": "button"
        },
        "7": {
            "type": "image"
        },
        "8": {
            "type": "@app"
        }
    },
    "settings": [],
    "presets": [
        {
            "name": "Tab Content Wrapper",
            "blocks": {
                "0": {
                    "type": "tab-content"
                },
                "1": {
                    "type": "eyebrow"
                },
                "2": {
                    "type": "heading"
                },
                "3": {
                    "type": "paragraph"
                },
                "4": {
                    "type": "button-wrapper"
                },
                "5": {
                    "type": "button"
                },
                "7": {
                    "type": "image"
                }
            }
        }
    ],
    "tag": null
} {% endschema %}