<div li-block="Tab Link" li-block:category="Tab" li-block:tag="" class="u-display-contents" style="">
                    
                      
                    <div class="u-display-contents"><button data-wf--tab-link--variant="link" data-tab-item-id="" class="tab_button_item" li-block="Tab Link" {{ block.shopify_attributes }}>
                    <span class="tab_button_text u-text-style-main">Tab Link 1</span>
                    <span class="tab_button_line"></span>
                </button></div>
                    
                    
                </div> {% schema %} {
    "name": "Tab Link",
    "settings": [],
    "presets": [
        {
            "name": "Tab Link",
            "category": "Tab",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}
