<div li-static-block="Tab Navigation" class="u-display-contents">
                  <div li-cf-theme-blocks="" role="tablist" data-slot="" class="tab_button_list">
{% content_for 'blocks' %}
</div>
                </div> {% schema %} {
    "name": "Tab Navigation",
    "blocks": [
        {
            "type": "tab-link"
        },
        {
            "type": "@app"
        }
    ],
    "settings": [],
    "presets": [
        {
            "name": "Tab Navigation",
            "blocks": [
                {
                    "type": "tab-link"
                }
            ]
        }
    ],
    "tag": null
} {% endschema %}