<button data-wf--tab-link--variant="button" data-tab-item-id="" class="tab_button_item w-variant-8ffc88d1-7ba2-15f6-9b67-306f6d86c1bd" li-block="Tab Link" {{ block.shopify_attributes }}>
                    <span class="tab_button_text u-text-style-main">Strategy</span>
                    <span class="tab_button_line w-variant-8ffc88d1-7ba2-15f6-9b67-306f6d86c1bd"></span>
                </button> {% schema %} {
    "name": "Tab Link",
    "settings": [],
    "presets": [
        {
            "name": "Tab Link",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}