<button data-wf--tab-link--variant="link" data-tab-item-id="" class="tab_button_item" li-block="Tab Link" {{ block.shopify_attributes }}>
                    <span class="tab_button_text u-text-style-main">Tab Link 1</span>
                    <span class="tab_button_line"></span>
                </button> {% schema %} {
    "name": "Tab Link",
    "settings": [],
    "presets": [
        {
            "name": "Tab Link",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}